<section class='form_container'>
  <div class='wrapper'>

    <form id="loginForm">
      <h1>Login</h1>

      <div class="input-box">
        <input type="email" name="email" placeholder="Correo electrónico" />
        <i class='bx bxs-user'></i>
      </div>

      <div class="input-box">
        <input type="password" name="password" placeholder="Contraseña" />
        <i class='bx bxs-lock-alt'></i>
      </div>

      <div class="remember-forgot">
        <a href="/forgot-password">¿Olvidaste tu contraseña?</a>
      </div>

      <button type="submit" class="btn">Iniciar sesión</button>

      <p id="errorLoginMsg" class="error-login">{{error}}</p>

      <div class="register-link">
        <p>¿No tienes una cuenta? <a href="/signup">Regístrate</a></p>
      </div>
    </form>

    <div class="line"></div>
  </div>
</section>

<script src="/js/login.js"></script>