<div class="app-view">
  <header class="header">
    <h1 class="title_page">Component <span>Hardware</span></h1>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/api/docs">Docs</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href='/cart/{{user.cart}}' id="cartLink">Cart <span id="cartCounter" class="cartCounter"></span></a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="welcome">
    <div class="welcome-message">
      <h2>{{user.name}}</h2>
      <p>{{user.email}}</p>
      <p>{{user.role}}</p>
    </div>
    <div class="buttons-panel">
      {{#if user.isAdmin}}
      <a href="/adminPanel" class="admin-panel">Panel de administrador</a>
      {{/if}}
      <a href="/api/sessions/logout" class="button-logout">Cerrar sesión</a>
    </div>
  </section>

  <h2>Perfil</h2>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cartCounter.js"></script>