<div class="app-view">
  <h1>Restablece tu contraseña</h1>

  <form method="post" action="/api/sessions/reset-password?token={{token}}">
    <p style="color: red;">{{error}}</p>
    <input type="password" name="newPassword" placeholder="Ingresa tu nueva contraseña" />
    <button>Enviar</button>
  </form>
</div>