/* MAIN - MAIN - MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  text-align: center;
}

.app-view {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.title_page {
  font-size: 36px;
  color: #373737;
}

.title_page span {
  color: #91c612;
}

header .navbar ul {
  font-size: 20px;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar {
  padding-right: 1rem;
}

a {
  text-decoration: none;
  color: #373737;
}

button {
  cursor: pointer;
}

/* ------------------------------------------------------- */

/* PRODUCTS - PRODUCTS - PRODUCTS */
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.buttons-panel {
  display: flex;
  gap: 3rem;
}

.button-logout {
  background-color: rgb(255, 96, 96);
  padding: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.admin-panel {
  background-color: rgb(0, 255, 4);
  padding: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.categories-list {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  padding: 15px 5px
}

.productsContainer h1,
.productsContainer h2,
.productsContainer h3,
.productsContainer h4,
.productsContainer h5,
.productsContainer h6 {
  text-wrap: wrap;
  text-align: center;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.card_body {
  background: #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 1rem;
}

.card_image_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 180px;
  max-width: 200px;
}

.card_image_container img {
  display: flex;
  max-width: 200px;
  padding: 5px;
}

.card_info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-around;
}

.card_info_container h3 {
  flex-grow: 1;
  font-weight: bold;
}

.card_info_container p {
  font-size: 20px;
  color: #373737;
  text-align: start;
}

.card_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: pointer;
}

.add-to-cart-button {
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 16px;
  background-color: #6f990e;
  transition: all 300;
  -webkit-transition: all 200ms;
  -moz-transition: all 300;
  -ms-transition: all 300;
  -o-transition: all 300;
  border: none;
  outline: none;
}

.add-to-cart-button:hover {
  background-color: #91c612;
}

.delete-to-cart-button {
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 16px;
  background-color: rgb(253, 108, 108);
  transition: all 300;
  -webkit-transition: all 200ms;
  -moz-transition: all 300;
  -ms-transition: all 300;
  -o-transition: all 300;
  border: none;
  outline: none;
}

.delete-to-cart-button:hover {
  background-color: #f00;
}

.controls_paginate {
  display: flex;
}

.controls_prev,
.controls_next {
  width: 100px;
  text-align: center;
  padding: 10px;
  margin: 0 5px;
}

.controls_next {
  margin-left: auto;
}

.controls_prev {
  background-color: #ccc;
}

.controls_next {
  background-color: #91c612;
  color: #fff;
}




/* ------------------------------------------------------- */

/* LOGIN - SIGNUP - LOGIN - SIGNUP - LOGIN - SIGNUP */
.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(66, 89, 10);
  background: -moz-linear-gradient(120deg, rgba(66 89 10 / 1) 5%, rgba(145 198 18 / 1) 50%, rgba(66 89 10 / 1) 90%);
  background: -webkit-linear-gradient(120deg, rgba(66 89 10 / 1) 5%, rgba(145 198 18 / 1) 50%, rgba(66 89 10 / 1) 90%);
  background: linear-gradient(120deg, rgba(66 89 10 / 1) 5%, rgba(145 198 18 / 1) 50%, rgba(66 89 10 / 1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#42590a", endColorstr="#42590a", GradientType=1);
}

.wrapper {
  width: 500px;
  background: transparent;
  border: 2px solid rgb(255 255 255 / 0.4);
  backdrop-filter: blur(400px);
  box-shadow: 0 0 20px rgb(0 0 0 / 0.4);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper p {
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 20px 0;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255 255 255 / 0.3);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input:focus {
  background-color: #40400049;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-radio-box {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  padding-left: 25px;
}

.wrapper h3 {
  text-align: center;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  cursor: pointer;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.wrapper .error-login {
  font-size: 16px;
  color: rgb(255 0 0);
  margin-top: 5px;
  text-align: center;
}

.wrapper .register-link {
  font-size: 16px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.btn-login i {
  font-size: 28px;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background: #d4d4d4;
}

/* ------------------------------------------------------- */

.cartCounter {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #abea16;
  color: #000;
  display: inline-block;
  font-size: 18px;
  height: 25px;
  width: 25px;
  text-align: center;
}

#cartClean h2,
#cartClean p {
  text-align: center;
  width: 100%;
}

@media (min-width: 0) and (max-width: 1280px) {

  header {
    display: flex;
    flex-wrap: wrap;
  }

  header .title_page {
    width: 100%;
    padding-bottom: 40px;
  }
}